
body { display: flex; flex-direction: column; justify-content: center; font-family:monospace; margin: 0px; background: linear-gradient(to right, #132b39,#2d91ad); color: #cdd9e3; justify-content: center;}

#menu-div   { background-color: #132b39; transition: all .15s; border-radius: 0px 0px 5px 5px; max-width: 810px; margin-left: auto; margin-right: auto; display: flex; justify-content: start; width: 100%;  box-shadow: 3px 3px 5px rgba(0,0,0,.7);}
#menu-icon  { height: 25px;padding: 5px; margin: 5px; box-shadow: 2px 2px 5px rgba(0,0,0,.7); border-radius: 4px; transition: all .15s; background-color: #2d91adb2;}
#menu-icon:hover { scale: 1.02; opacity: .7; transition: all 1s;}
#menu-icon:active{ scale: 0.98; transition: all.1s; box-shadow: none;}
#heading-title   { text-shadow: 3px 3px 5px rgba(15, 3, 3, 0.233); padding-right: 25px; font-weight: 600; margin:0px; width: 100%; text-align: center; display: flex; justify-content: center; align-items: center; font-size: 20px;}

#total-tips {
    font-size: 14px;
}

.instructions-p  { margin-right: 15px; text-align: center; display: flex; justify-content: center; width: 100%; align-items: center; flex-direction: column;}

.title-div       { font-weight: 700; text-align: center; max-width: 450px; margin-left: auto; margin-right: auto; margin-bottom: 10px; background-color: rgba(0,0,0,.0); padding: 10px 5px; border-radius: 10px; box-shadow: 5px 5px 5px rgba(0,0,0,.0);}

#sort-button-div { margin-left: auto; margin-right: auto; margin-bottom: 15px; margin-top: 15px; max-width: 380px; text-align: center;}

/* sorting buttons */
#race-time-button { width: 90px; background-color: rgba(0,0,0,.0); color: #cdd9e3; padding-top: 5px; padding-bottom: 5px; border: 1px solid white; border-radius: 5px; box-shadow: 5px 5px 5px rgba(0,0,0,.2); cursor: pointer; margin-left: 5px; transition: all .5s;}
#score-button     { width: 70px; padding-top: 5px; padding-bottom: 5px; background-color: rgba(0,0,0,.0); color: #cdd9e3; border: 1px solid white; border-radius: 5px; box-shadow: 5px 5px 5px rgba(0,0,0,.2); cursor: pointer; margin-left: 5px; transition: all .5s;}
#location-button  { width: 90px; background-color: rgba(0,0,0,.0); color: #cdd9e3; padding-top: 5px; padding-bottom: 5px; border: 1px solid white; border-radius: 5px; box-shadow: 5px 5px 5px rgba(0,0,0,.2); cursor: pointer; margin-left: 5px; transition: all .5s;}

/* hover State for sorting buttons */
#score-button:hover     { opacity: .9; border:1px solid #132b39; transition: all .1s; scale: 1.05;}
#race-time-button:hover { opacity: .9; border:1px solid #132b39; transition: all .1s; scale: 1.05;}
#location-button:hover  { opacity: .9; border:1px solid #132b39; transition: all .1s; scale: 1.05;}

/* Active state for sorting buttons */
#race-time-button:active { scale: .98; transition: all .1s; box-shadow: none;}
#score-button:active     { scale: .98; transition: all .1s; box-shadow: none;}
#location-button:active  { scale: .98; transition: all .1s; box-shadow: none;}

/* Hide or Show Button */
#already-ran-button        {width: 300px; background-color: rgba(0,0,0,.0); color: #cdd9e3; padding-top: 5px; padding-bottom: 5px; border: 1px solid white; border-radius: 5px; box-shadow: 5px 5px 5px rgba(0,0,0,.2); cursor: pointer; margin-left: 5px; transition: all .5s;}
#already-ran-button:hover  { opacity: .9; border:1px solid #132b39; transition: all .1s; scale: 1.05;}
#already-ran-button:active { scale: .98; transition: all .1s; box-shadow: none;}

#main-data-div     { display: flex; flex-wrap: wrap; justify-content: center; align-items: center; max-width: 810px; margin-left: auto; margin-right: auto;}

#completed-run-div {display: flex; align-items: center; justify-content: center; margin: 10px;}

#time-updated      { margin: 0px; padding-top: 15px;}

.inner-div         { display: flex; flex-wrap: wrap; align-items: center; background-color: #4a46ff; margin: 5px; padding-left: 5px; padding-right: 5px; border-radius: 4px; max-width: 370px; box-shadow: 5px 5px 5px rgba(0,0,0,.7);}

.inner-div:hover   { cursor: pointer; scale: 1.02;}

.raceNameDiv       { display: flex; flex-direction: row; padding: 0px; margin-bottom: 0; text-align: center; width: 100%;  font-size: 18px;}

.race-name-class   { width: 75%; text-align: left; margin: 5px;}

.race-time         { margin: 5px; width: 100px;}

.gate-class { margin-top: 8px; font-size: 12px;}

/*  Track conditions div  */
.conditions-div    { display: flex; justify-content: space-evenly; width: 100%; font-size: 12px; margin-bottom: 10px;}
.track-condition-p { margin: 0;}
.track-weather-p   { margin: 0;}
.track-temp-p      { margin: 0;}
.track-length-class{ margin: 0;}

.bib-image-class   { margin-left: 15px; height: 30px; width: 25px; }

.jockey-name-class { display: inline; margin: 0px; text-align: left; padding-left: 5px; font-size: 16px;}

.horse-odds-class{
    font-size: 14px;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(0,0,0,.5);
    color: aquamarine;
    padding-right: 5px;
}

.jockey-weight-class {
    font-size: 10px;
}

#name-trainer-div  { display: flex; justify-content: space-between; align-items: center; margin: 0px; width: 100%;}

.score-div         { display: flex; align-items: center; justify-content:space-between; width: 100%; margin: 10px 0px;}

.horse-name-class  { text-align: left; margin: 0px; padding-right: 10px; font-size: 14px;}

.trainer-name-class{ text-align: left; margin: 0px; padding-top: 4px; padding-bottom: 4px; padding-left: 5px; font-size: 14px;}

.score-class       { display: block; text-align: right; margin: 0px; }

.race-position { display: flex; justify-content: center; align-items: center; width: 100%;}

.race-position-p { text-shadow: 3px 3px 5px rgba(0,0,0,.4);}